BACKEND = "LIVE" #LIVE or LOCAL

RUST_LOG="debug"

SERVER_PORT="8000"


# SET THE FIELDS BELOW
# EMAIL_CLIENT_ID = "462om"

# EMAIL_CLIENT_SECRET = "GOCaNa"

# EMAIL_ACCESS_TOKEN = "ya0AQT177"

# EMAIL_REFRESH_TOKEN = "1//0577M"
